<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img">
        <img src="../../assets/img/logo.png" alt="">
      </div>
      Event Sidebar
    </a>
  </div>
  <ul class="nav">
    <li>
      <a routerLink="home">
        <i class="ti-home"></i>
        <p>Home</p>
      </a>
    </li>
    
    <li>
      <a routerLink="category">
        <i class="ti-music"></i>
        <p>Kategorien</p>
      </a>
    </li>

    <li>
      <a routerLink="categoryedit">
        <i class="ti-music"></i>
        <p>Kategorien edit</p>
      </a>
    </li>

  </ul>
</div>

