<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img">
        <img src="../../assets/img/logo.png" alt="">
      </div>
      MyEvent
    </a>
  </div>
  <ul class="nav">
    <li>
      <a routerLink="home">
        <i class="ti-home"></i>
        <p>Home</p>
      </a>
    </li>
    
    <li>
      <a routerLink="category">
        <i class="ti-music-alt"></i>
        <p>Genres</p>
      </a>
    </li>

    <li>
        <a routerLink="organizers">
          <i class="ti-user"></i>
          <p>Veranstalter</p>
        </a>
      </li>

      <li>
          <a routerLink="events">
            <i class="ti-star"></i>
            <p>Events</p>
          </a>
        </li>

        <li>
            <a routerLink="locations">
              <i class="ti-location-pin"></i>
              <p>Locations</p>
            </a>
        </li>
  </ul>
</div>

