<div class="card" [ngClass]="{'selected': selected, 'edit' : editMode}" (mousedown)="mousedown()" (mouseup)="mouseup()" (mouseleave)="mouseup()">

    <div class="text" *ngIf="!isEdit">{{event.title}}</div>
    <input *ngIf="isEdit" [(ngModel)]="event.title" name="event">

    <div class="text" *ngIf="!isEdit">{{event.description}}</div>
    <input *ngIf="isEdit" [(ngModel)]="event.description" name="description">
    
    <div *ngIf="!editMode && !isEdit" class="editbutton" (click)="editEvent()"><i class="ti-pencil"></i></div>
    <div *ngIf="isEdit" class="editbutton" (click)="saveEvent()"><i class="ti-save"></i></div>
</div>


