<div class="dialog">
  <h2 mat-dialog-title >{{location.name |titlecase}}</h2>

  <mat-dialog-content>

    <label>Beschreibung:</label>
    <div class="text">{{location.description}}</div>

    <label>Adresse</label>
    <div class="text">{{location.address | titlecase}}</div>

    <label>PLZ:</label>
    <div class="text">{{location.zipCode | uppercase}}</div>

    <label>Ort:</label>
    <div class="text">{{location.city | titlecase}}</div>

    <label>Länderkennzeichen:</label>
    <div class="text">{{location.countryAbb | uppercase}}</div>

  </mat-dialog-content>

  <mat-dialog-actions>
    <button class="btn closebutton" (click)="closeDialog()">Schließen</button>
  </mat-dialog-actions>

</div>
