<div class="dialog">
<h2 mat-dialog-title *ngIf="oldCategory != null">{{oldCategory.title}} ändern</h2>
<h2 mat-dialog-title *ngIf="oldCategory == null">Kategorie hinzufügen</h2>
<mat-dialog-content>
<form #f="ngForm" >
    <div class="form-group">
        <label>Titel:</label>
        <input
        name="title"
        [(ngModel)]="category.title"
        class="form-control"
        required minlength="3"
        [ngClass]="{invalid: !f?.controls['title']?.valid}"
        />
    </div>
    <div class="form-group">
        <label>Beschreibung:</label>
        <textarea
        [(ngModel)]="category.description"
        name="categorydescription"
        class="form-control"
        rows="5" cols="40"></textarea>
    </div>
    <div class="form-group">
        <label>Übergeordnete Kategorie:</label><br>
        <select name="categorypparentCategoryId" [(ngModel)]="category.parentCategoryId" class="form-control">
            <option value="0"></option>
            <option *ngFor="let parentCategory of categories" [ngValue]="parentCategory.id">
                {{ parentCategory.title }}
            </option>
        </select>   
    </div>
</form>
<div class="alert alert-info" role="alert" *ngIf="saveError">
    Kategorie kann nicht gespeichert werden. Es existiert bereits eine Kategorie mit diesem Namen!
</div>
</mat-dialog-content>

<mat-dialog-actions>
    <span class="spacer"></span>
    <button class="btn mat-raised-button mat-primary" (click)="save()" [disabled]="!f.valid">Speichern</button>
    <button class="btn mat-raised-button" (click)="close()">Schließen</button>
</mat-dialog-actions>
</div>