
<app-category-search [categories]="categories" (onSearchDone)="refreshList($event)" id="categorySearch"></app-category-search>
<div class="col-md-6">
    <button class="btn btn-success" (click)="addCategory()"> Genre hinzufügen</button><br>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Name</th>
        <th>Beschreibung</th>
        <th>Aktion</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let category of filteredCategories">
        <td class="hidden"></td>
        <td style="font-weight: bold;">{{category.title}}</td>
        <td style="max-width: 800px; word-break: normal;">{{category.description}}</td>
        <td>
          <button class="btn btn-success" (click)="editCategory(category)"> Ändern</button>
          <button class="btn btn-danger" (click)="deleteCategory(category)"> Löschen</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  