<h1>MyEvent</h1>
<h2>
  Campus02 Angular Project MyEvent
</h2>

<h2>Team Members</h2>
<ul>
  <li>Manuel Reinhart</li>
  <li>Roman Zotter</li>
  <li>Alexander Dzieyk</li>
  <li>Gerald Süssmeier</li>
</ul>

<h2>Implementierungen</h2>
<ul>
  <li>Genres: Roman Zotter</li>
  <li>Veranstalter: Alexander Dzieyk</li>
  <li>Events: Manuel Reinhart</li>
  <li>Locations: Gerald Süssmeier</li>
</ul>

<h2>Zusätzliche Komponenten</h2>
<ul>
  <li>MatDialog</li>
  <li>Alle Services über Basisklasse</li>
</ul>

<h2>Verwendete Konstrukte</h2>
<ul>
  <li>Module</li>
  <li>Komponenten</li>
  <li>Services</li>
  <li>Routen</li>
  <li>Pipes</li>
  <li>Inputs/Outputs</li>
  <li>Inject/Injectable</li>
  <li>Validator</li>
</ul>